.choosePlayer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.players {
  margin-top: 2em;
}

.players > button {
  padding: 2em;
}

.preview {
  max-width: 70vw;
  max-height: 50vh;
}

.preview > img {
  /* Ensure the size of the image fit the container perfectly */
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
