.ingredient {
  height: 2em;
  transition: all var(--transition);
}

.ingredient.done {
  opacity: 0.4;
}

.quantity,
.formula {
  color: #4f4f4f;
  font-weight: bold;
  margin-right: 0.5em;
  font-size: 1.2em;
  text-align: right;
}

.formula {
  font-weight: normal;
  font-size: 1em;
}

.availableQuantity {
  width: 3em !important;
  margin: 0 0.5em;
  font-size: 0.8em;
  /* opacity: 0; */
  transition: all var(--transition);
}
