.shoppingList {
  display: flex;
}

.recipe > .closeBtn {
  position: absolute;
  top: 1em;
  right: 1em;
}

.baseIngredients {
  flex-shrink: 0;
  margin-right: 2em;
}

.crafts {
  display: flex;
  flex-wrap: wrap;
}
